body{
    background: rgb(252, 207, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    font-size: 55px;
}
.button{
    background: rgb(242, 53, 86);
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 5px rgb(239, 11, 51);

}